<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>Hakkımızda</h6>
                <p class="text-justify">favfay.com | Bu alana hakkımızda bilgisi yazılacaktır. </p>
            </div>


            <div class="col-xs-6 col-md-3">
                <h6>Dolaşım</h6>
                <ul class="footer-links">
                    <li><a href="#">Hakkımızda</a></li>
                    <li><a href="#">Bize Ulaşın</a></li>
                    <li><a href="#">Katkıda bulunmak</a></li>
                    <li><a href="#">Gizlilik Politikası</a></li>
                    <li><a href="#">Site haritası</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Kategoriler</h6>
                <ul class="footer-links">
                    <li><a href="/movies/list">Filmler</a></li>
                    <li><a href="/books/list">Kitaplar</a></li>
                    <li><a href="/music/list">Müzikler</a></li>
                </ul>
            </div>

        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">
                    Copyright &copy; 2020 favfay Tüm Hakları Saklıdır.

                </p>
            </div>
        </div>
    </div>
</footer>

