<div class="jumbotron">
    <h1 class="display-4">MedicalPark</h1>
    <p class="lead">Medicalpark sistemine hoş geldiniz. Üyeliğiniz var ise giriş yapınız. Yeni kayıt oluşturmak için Kayıt Ol butonuna tıklayınız</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/Account/SignUp" role="button">Kayıt Ol <i class="fas fa-mouse-pointer"></i></a>
    <a class="btn btn-primary btn-lg" href="/Account/Index" role="button">Giriş Yap</a>
</div>