<div class="alert alert-secondary" role="alert">
    Topics
</div>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
        Cras justo odio
    </a>
    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
    <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
</div>

<br />

<div class="alert alert-secondary" role="alert">
    Moods
</div>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
        Cras justo odio
    </a>
    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
    <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
</div>