@{
    Layout = "_Layout";
}

@section jumbot
{
    @await Html.PartialAsync("_jumbot")
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    1995 yılından bu yana sağlık sektöründe faaliyet gösteren Medical Park Hastaneler Grubu, Türkiye'nin çeşitli illerinde 6.000'den fazla doktor ve çalışanı, toplam 17 hastanesi ile hizmet vermektedir.

</body>
</html>